:root {
  --size-10: 0.625rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;

  --black: #000000;
  --red: #fe2f02;
  --yellow: #fef700;
  --green: #1bc400;
  --blue: #6495ED;
  --white: #ffffff;
}

* {
  font-family: 'Fraunces', serif;
}

body {
  margin: 0;
  padding: 0;
}

.header-bar {
  display: flex;
  flex-direction: row;
  margin: var(--size-20) var(--size-30);
  justify-content: center;
  align-items: center;
}

.header-bar input {
  margin-left: 5rem;
}

.logo img {
  width: var(--size-100);
  align-self: center;
}

.input-box img {
  height: var(--size-20);
}

.right-side {
  margin-left: auto;
}

.right-side .profile-image {
  border-radius: 50%;
}

.links-container {
  display: flex;
  width: 70%;
  margin: var(--size-10) auto;
}

.links-container i {
  padding-right: 5px;
}

.links-container span {
  margin-right: var(--size-20);
}

.links-container p {
  margin: 0 var(--size-10);
}

.links-container .settings {
  margin-left: auto;
}

.results-container {
  width: 70%;
  margin: 0 auto;
}

.results-container .results-quantity p {
  opacity: 0.3;
  margin-top: 0;
}

.results p {
  margin-bottom: 0;
}

.results h2 {
  margin: 0;
  color: blue;
}

.results-body a {
  text-decoration: none;
}

.results-body {
  margin-top: 8px;
}

.people-ask {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  margin: var(--size-20) auto;
  width: 80%;
}

.people-ask .boxing {
  display: flex;
  border: 1px solid var(--black);
  margin: -0.5px 0;
  height: var(--size-50);
}

.people-ask .boxing h2,
.people-ask .boxing p {
  width: 100%;
  margin: auto 5px auto 10px;
}

.people-ask .boxing i {
  margin: auto var(--size-10) auto auto;
}

.google-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-1 {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.footer-1 h1,
.footer-1 i {
  font-size: var(--size-100);
}

.footer-1 h1 {
  display: flex;
}

.footer-1 i {
  margin: auto var(--size-50);
  color: var(--blue);
}

.footer-1 span:nth-child(1) {
  color: var(--blue);
}

.footer-1 span:nth-child(2) {
  color: var(--red);
}

.footer-1 span:nth-child(3),
.footer-1 span:nth-child(4),
.footer-1 span:nth-child(5),
.footer-1 span:nth-child(6),
.footer-1 span:nth-child(7),
.footer-1 span:nth-child(8),
.footer-1 span:nth-child(9),
.footer-1 span:nth-child(10),
.footer-1 span:nth-child(11) {
  color: var(--yellow);
}

.footer-1 span:nth-child(12) {
  color: var(--blue);
}

.footer-1 span:nth-child(13) {
  color: var(--green);
}

.footer-1 span:nth-child(14) {
  color: var(--red);
}

.footer-2 {
  display: flex;
  margin: 0 auto var(--size-10) auto;
}

.footer-text,
.footer-numbers {
  margin-top: 0;
  margin-left: var(--size-50);
  margin-bottom: var(--size-10);
}

.footer-numbers span,
.footer-text {
  font-size: var(--size-50);
  color: var(--blue);
}

.footer-2 .footer-numbers span {
  margin-left: var(--size-20);
  margin-right: var(--size-20);
}

.footer-2 .footer-numbers span:nth-child(1) {
  color: var(--black)
}